<!--
  -- This is the Get a Template component.
  -- Includes the code and output example.
-->

<article id="get-a-template">
  <h3 class="mt-5">Get a Template</h3>
  <p class="w-75">For this tutorial, we are going to use the
    <a href="https://getbootstrap.com/docs/4.4/examples/">Navbar Fixed</a> template
    from the Bootstrap website. After you copy everything inside the body tag and clean it up a bit, it should look like this.
  </p>

<!-- CODE BLOCK -->
<pre class="bg-dark px-3"><code><span class="badge badge-secondary float-right mt-2">views/posts/index.html.erb</span>
  <span class="block">&lt;p</span> id=<span class="string">"notice"</span><span class="block">&gt;</span><span class="block">&lt;%=</span> notice <span class="block">%&gt;</span><span class="block">&lt;/p</span><span class="block">&gt;</span>

  <span class="block">&lt;nav</span> class=<span class="string">"navbar navbar-expand-md navbar-light fixed-top border-bottom"</span><span class="block">&gt;</span>
    <span class="block">&lt;a</span> class=<span class="string">"navbar-brand"</span> href=<span class="string">"#"</span><span class="block">&gt;</span>My Blog App<span class="block">&lt;/a&gt;</span>
    <span class="block">&lt;button</span> class=<span class="string">"navbar-toggler"</span> type=<span class="string">"button"</span> data-toggle=<span class="string">"collapse"</span> data-target=<span class="string">"#navbarCollapse"</span> aria-controls=<span class="string">"navbarCollapse"</span> aria-expanded=<span class="string">"false"</span> aria-label=<span class="string">"Toggle navigation"</span><span class="block">&gt;</span>
      <span class="block">&lt;span</span> class=<span class="string">"navbar-toggler-icon"</span><span class="block">&gt;</span><span class="block">&lt;/span&gt;</span>
    <span class="block"><span class="block">&lt;span</span></span>
    <span class="block">&lt;div</span> class=<span class="string">"collapse navbar-collapse"</span> id=<span class="string">"navbarCollapse"</span><span class="block">&gt;</span>
      <span class="block">&lt;ul</span> class=<span class="string">"navbar-nav mr-auto"</span><span class="block">&gt;</span>
        <span class="block">&lt;li</span> class=<span class="string">"nav-item"</span><span class="block">&gt;</span>
          <span class="block">&lt;a</span> class=<span class="string">"nav-link"</span> href=<span class="string">"#"</span><span class="block">&gt;</span>My Posts<span class="block">&lt;/a&gt;</span>
        <span class="block">&lt;/li&gt;</span>
      <span class="block">&lt;/ul&gt;</span>
      <span class="block">&lt;ul</span> class=<span class="string">"navbar-nav"</span><span class="block">&gt;</span>
        <span class="block">&lt;li</span> class=<span class="string">"nav-item"</span><span class="block">&gt;</span>
          <span class="block">&lt;a</span> class=<span class="string">"btn btn-outline-secondary"</span> href=<span class="string">"#"</span><span class="block">&gt;</span>Login<span class="block">&lt;/a&gt;</span>
        <span class="block">&lt;/li&gt;</span>
        <span class="block">&lt;li</span> class=<span class="string">"nav-item"</span><span class="block">&gt;</span>
          <span class="block"><span class="block"><span class="block">&lt;%</span>=</span></span> <span class="method">link_to</span> <span class="string">'New Post'</span>, new_post_path, class: <span class="string">'btn'</span> <span class="block">%&gt;</span>
        <span class="block">&lt;/li&gt;</span>
      <span class="block">&lt;/ul&gt;</span>
    <span class="block">&lt;/div&gt;</span>
  <span class="block">&lt;/nav&gt;</span>

  <span class="block">&lt;main</span> class=<span class="string">container mt-5 pt-3</span><span class="block">&gt;</span>
    <span class="block">&lt;div</span> class=<span class="string">"jumbotron"</span><span class="block">&gt;</span>
      <span class="block">&lt;table</span> class=<span class="string">"table"</span><span class="block">&gt;</span>
        <span class="block">&lt;thead&gt;</span>
          <span class="block">&lt;/tr&gt;</span>
            <span class="block">&lt;th&gt;</span>Title<span class="block">&lt;/th&gt;</span>
            <span class="block">&lt;th&gt;</span>Body<span class="block">&lt;/th&gt;</span>
            <span class="block">&lt;th</span> colspan=<span class="string">"3"</span><span class="block">&gt;</span><span class="block">&lt;/th&gt;</span>
          <span class="block">&lt;/tr&gt;</span>
        <span class="block">&lt;/thead&gt;</span>
        <span class="block">&lt;tbody&gt;</span>
          <span class="block">&lt;%</span> @posts.<span class="method">each</span> do |post| <span class="block">%&gt;</span>
            <span class="block"><span class="block"><span class="block">&lt;/tr&gt;</span></span></span>
              <span class="block">&lt;td&gt;</span><span class="block"><span class="block"><span class="block">&lt;%</span>=</span></span> post.<span class="method">title</span> <span class="block">%&gt;</span><span class="block">&lt;/td&gt;</span>
              <span class="block">&lt;td&gt;</span><span class="block"><span class="block"><span class="block">&lt;%</span>=</span></span> post.<span class="method">body</span> <span class="block">%&gt;</span><span class="block">&lt;/td&gt;</span>
              <span class="block">&lt;td&gt;</span><span class="block"><span class="block"><span class="block">&lt;%</span>=</span></span> <span class="method">link_to</span> <span class="string">'Show'</span>, post <span class="block">%&gt;</span><span class="block">&lt;/td&gt;</span>
              <span class="block">&lt;td&gt;</span><span class="block"><span class="block"><span class="block">&lt;%</span>=</span></span> <span class="method">link_to</span> <span class="string">'Edit'</span>, edit_post_path(post) <span class="block">%&gt;</span><span class="block">&lt;/td&gt;</span>
              <span class="block">&lt;td&gt;</span><span class="block"><span class="block"><span class="block">&lt;%</span>=</span></span> <span class="method">link_to</span> <span class="string">'Destroy'</span>, post, method: <span class="symbol">:delete</span>, data: { confirm: <span class="string">'Are you sure?'</span> } <span class="block">%&gt;</span><span class="block">&lt;/td&gt;</span>
            <span class="block">&lt;/tr&gt;</span>
          <span class="block">&lt;%</span> end <span class="block">%&gt;</span>
        <span class="block">&lt;/tbody&gt;</span>
      <span class="block">&lt;/table&gt;</span>
    <span class="block">&lt;/div&gt;</span>
  <span class="block">&lt;/main&gt;</span>

</code></pre>
<!-- /CODE BLOCK -->

  <!-- EXAMPLE -->
  <div class="example p-4">
    <div class="col-12 d-flex justify-content-center">
      <%= image_tag('tutorials/build_a_blog/get_template_1.png', options = { class: 'card-img-bot img-fluid', alt: "placeholder_image" }) %>
    </div>
  </div>
  <!-- /EXAMPLE -->

</article>
