<div class="col-md-9 col-xl-8">
  <main class="px-3">
    <h1 class="mt-5">Active Record Migrations</h1>
    <p class="w-75">This article will help you understand <code>Active Record</code> and how to make <code>Migrations</code>.</p>

    <p class="w-75"><code>Active Record</code> is, basically, the part of Rails that takes care of all the database stuff.
    It lets you work with your data models (ex. users, posts, comments, followers, etc.) in a nearly plain-English way.
    </p>

    <p class="w-75"><code>Migrations</code> are a feature of Active Record that allows you to easily make changes to your database schema.</p>

    <%= render 'components/partials/active_record_migrations/add_column_to_table_migration' %>

  </main>
</div>

<div class="d-none d-xl-block col-xl-2">
  <ul class="list-group list-group-flush my-3 p-0">
    <%= link_to 'add_column_to_table', '#add-column-to-table-migration', class: 'list-group-item list-group-item-action w-100 p-2 border-0' %>
  </ul>
</div>
