<!--
  -- This is the Select Tag component.
  -- Includes the code and output example.
-->

<article id="select-tag">
  <h3 class="mt-5">Select Tag</h3>
  <pre>select_tag(name, option_tags, options = { })</pre>

  <!-- EXAMPLE -->
  <div class="example p-4">
    <%= form_with(class: 'form') do %>
      <div class="col-sm-9 col-md-6">
        <div class="form-group">
          <%= label_tag('select-name', 'Label', id: 'select-id', class: 'select-label') %>
          <%= select_tag('select-name', raw("<option>1</option><option>2</option><option>3</option>"), options = { id: 'select-id', class: 'form-control', include_blank: true }) %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- /EXAMPLE -->

<!-- CODE BLOCK -->
<pre class="bg-dark px-3"><code><span class="badge badge-secondary float-right mt-2">HTML.ERB</span>
<span class="block">&lt;div</span> class=<span class="string">"form-group"</span><span class="block">&gt;</span>
  <span class="block">&lt;%=</span> <span class="method">label_tag</span>(<span class="string">'select-name'</span>, <span class="string">'Label'</span>, id: <span class="string">'select-id'</span>, class: <span class="string">'select-label'</span>) <span class="block">%&gt;</span>
  <span class="block">&lt;%=</span> <span class="method">select_tag</span>(<span class="string">'select-name'</span>, raw(<span class="string">"&lt;option&gt;1&lt;/option&gt;&lt;option&gt;2&lt;/option&gt;&lt;option&gt;3&lt;/option&gt;"</span>), options = { id: <span class="string">'select-id'</span>, class: <span class="string">'form-control'</span>, include_blank: <span class="nil">true</span> }) <span class="block">%&gt;</span>
<span class="block">&lt;/div&gt;</span>

</code></pre>
<!-- /CODE BLOCK -->

</article>
