<!--
  -- This is the Rails New component.
  -- Includes the code and output example.
-->

<article id="rails-new">
  <h3 class="mt-5">Rails New</h3>
  <p class="w-75">Open terminal and navigate to the folder where you want to create the app.</p>

<!-- CODE BLOCK -->
<pre class="bg-dark px-3"><code><span class="badge badge-secondary float-right mt-2">Terminal</span>
$ rails new my_new_app      <span class="comment"># creates an app named 'my_new_app'</span>
...

$ cd my_new_app             <span class="comment"># navigate in to the app folder</span>
$ bundle install            <span class="comment"># install gems</span>
...

$ rails db:migrate          <span class="comment"># create and migrate the database</span>
...

$ rails server              <span class="comment"># launch a local server</span>
...

</code></pre>
<!-- /CODE BLOCK -->

</article>
