<!--
  -- This is the Yay! You're On Rails component.
  -- Includes the code and output example.
-->

<article id="yay">
  <h3 class="mt-5">Yay!</h3>
  <p class="w-75">Go to <a href="http://localhost:3000/">http://localhost:3000/</a>. You should see this success message.</p>

    <!-- EXAMPLE -->
    <div class="example p-4">
      <div class="col-12 d-flex justify-content-center">
        <%= image_tag('tutorials/yay_youre_on_rails.png', options = { class: 'img-fluid', alt: "Responsive image"}) %>
      </div>
    </div>
    <!-- /EXAMPLE -->

</article>
