<%= render 'layouts/partials/section_main_article_start' %>

  <h1 class="mt-5">How to Create a New Rails App</h1>
  <p class="w-75">This article will show how to create a new rails app.</p>

  <%= render 'how_to/partials/create_a_new_rails_app/rails_new' %>

  <%= render 'how_to/partials/create_a_new_rails_app/yay_youre_on_rails' %>

</section>
