<div class="col-md-9 col-xl-8">
  <main class="px-3">
    <h1 class="mt-5">Create a New Rails App</h1>
    <p class="w-75">This article will show how to create a new rails app.</p>

    <%= render 'how_to/partials/create_a_new_rails_app/rails_new' %>

    <%= render 'how_to/partials/create_a_new_rails_app/yay_youre_on_rails' %>

  </main>
</div>


<div class="d-none d-xl-block col-xl-2">
  <ul class="list-group list-group-flush my-3 p-0">
    <%= link_to 'Rails New', '#rails-new', class: 'list-group-item list-group-item-action w-100 p-2 border-0' %>
    <%= link_to 'Yay!', '#yay', class: 'list-group-item list-group-item-action w-100 p-2 border-0' %>
  </ul>
</div>
