<%= render 'header' %>

<article>
  <h3 class="mt-5">Step 1: Add Bootstrap</h3>
  <p>Go to <code>https://getbootstrap.com/docs/4.4/getting-started/introduction/</code> and get the Bootstrap links.<br><br>
    The simplest way to add Bootstrap is to open <code>app/layouts/application.html.erb</code> and copy/paste the Bootstrap links, like you would with a normal HTML page.</p>

<pre class="bg-light px-3"><code><span class="badge badge-secondary float-right mt-2">CODE EDITOR</span>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Rails Genius&lt;/title&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"/&gt;
    &lt;%= csrf_meta_tags %&gt;
    &lt;%= csp_meta_tag %&gt;

    &lt;!-- COPY PASTE BOOTSTRAP LINKS HERE --&gt;
    &lt;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"&gt;
    &lt;script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"&gt;&lt;/script&gt;
    &lt;script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"&gt;&lt;/script&gt;
    &lt;script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"&gt;&lt;/script&gt;
    &lt;!-- END --&gt;

    &lt;%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %&gt;
    &lt;%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %&gt;
  &lt;/head&gt;

  &lt;body&gt;
    &lt;%= yield %&gt;
  &lt;/body&gt;
&lt;/html&gt;

</code></pre>

  <ul>
    <li>This tutorial will get you started quickly. It works. It's not meant to show the most 'optimized' or 'efficient' methods.</li>
    <li>There is another 'Railsy-way' to add Bootstrap that you can find online.</li>
    <li>Some people will say that it is bad practice to add JS in the header.</li>
  </ul>
</article>


<article>
  <h3 class="mt-5">Step 2: Check If It's Working</h3>
  <p>Open your browser and go to <code>http://localhost:3000/</code>.<br>
  You can inspect element or open the JS console to check if it worked.</p>

  <img src="https://miro.medium.com/max/3366/1*CZ7NSJ-eBpwxYVt5OG7ryw.png" class="img-fluid" alt="Responsive image">

</article>

<%= render 'footer' %>
