<nav class="navbar navbar-expand-lg navbar-light bg-white my-3 p-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-column" id="sidebarNav">
    <h4>App Tutorials</h4>
    <ul class="list-group list-group-flush w-100 f-size-smaller-1">
      <%= active_link_to 'Build a Blog App', tutorials_build_a_blog_app_path, class: 'list-group-item list-group-item-action w-100 p-2 border-0' %>
      <!-- <a href="#" class="list-group-item list-group-item-action w-100 p-2 border-0 disabled">Twitter App</a>
      <a href="#" class="list-group-item list-group-item-action w-100 p-2 border-0 disabled">Google Keep App</a>
      <a href="#" class="list-group-item list-group-item-action w-100 p-2 border-0 disabled">Messenger App</a>
      <a href="#" class="list-group-item list-group-item-action w-100 p-2 border-0 disabled">Tinder App</a>
      <a href="#" class="list-group-item list-group-item-action w-100 p-2 border-0 disabled">Google Maps App</a>
      <a href="#" class="list-group-item list-group-item-action w-100 p-2 border-0 disabled">Uber App</a> -->
    </ul>
  </div>
</nav>
