// ==========================================================================
// Typography
// ==========================================================================
//
// Table of Contents:
//
//  1. Fonts
//  2. Sizes
//  3. Colors



// 1. Fonts
// ==========================================================================
h1, h2, h3 {
  font-family: 'Lora', 'Cambria', serif;
}

body {
  font-family: 'Nunito', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

pre code {
  font-family: 'Inconsolata', monospace;
}


// 2. Sizes
// ==========================================================================

.f-size-smaller-1 {
  font-size: 0.9rem;
}
.f-size-smaller-2 {
  font-size: 0.8rem;
}


// 3. Colors
// ==========================================================================

h1, h2, h3, h4, h5, h6, p {
  color: #343a40;
}
